.circleWrap {
    $hue: 220;
    $holesize: 65%;
    $track-bg: hsl(233 34% 92%);
  
    block-size: 50vmin;
    inline-size: 50vmin;
    min-inline-size: 100px;
    min-block-size: 100px;
    display: grid;
    place-items: center;
    position: relative;
    font-weight: 700;
    font-size: max(10vmin, 1.4rem);
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      z-index: -1;
      background: conic-gradient(
        hsl(220 100% 70%),
        hsl(220 100% 40%),
        hsl(220 100% 70%) var(--progress, 0%),
        var(--track-bg) var(--progress, 0%) 100%
      );
  
      mask-image: radial-gradient(
        transparent 65%,
        black calc(65% + 0.5px)
      );
    }
}

.circle {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        height: 110px;
        width: 110px;
        border-radius: 50%;
        background-color: #fff;
    }
}

.insideCicle {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #7d2ae8;
}