@import "@/styles/util.scss";

.aside {
    flex: 0 0 22%;

    padding: 1.2rem .5rem;
    background: #F5F5F5;
    height: 99vh;

    @include scroll-bar;

    &>*:not(:last-child) {
        margin-bottom: 1rem;
    }
}