.levelOne {
    font-size: 2.5rem;
}

.levelTwo {
    font-size: 2.3rem;
}

.levelThree {
    font-size: 2rem;

}

.levelFour {
    font-size: 1.7rem;
}

.levelFive {
    font-size: 1.5rem;
}

.levelSix {
    font-size: 1.2rem;
}