.goal {
    &_h3 {
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--color-dark);
    }

    &_view {
        font-size: 1rem;
        color: #3629B7;
        font-family: Manrope;

        &Btn {
            margin-left: .3rem;
        }
    }

    &_boxes {
        &>* {
            margin-bottom: 5px;
        }
    }
}