@mixin scroll-bar {
    overflow-y: hidden;
    transition: all 0.3s cubic-bezier(0.38, 0.01, 0.15, 0.99);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &::-webkit-scrollbar {
        //    width: 10px;
        display: none;
    }

    &::-webkit-scrollbar-track {
        background: var(--scrollbarBG);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--thumbBG);
        border-radius: 6px;
        border: 3px solid var(--scrollbarBG);
    }

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}