// colors
$black: #282828;
$primary: #3629B7;
$primary-light:#1500fe;
$primary-light-1: #4d40e1;
$primary-light-2: #7065ee;
$primary-dark: #1f158f;
$secondary: #82e3ab;
$secondary-light-two: #c1f1d5;
$secondary-light: #d1f5e0;
$white: #FFFFFF;
$white-1: #FAFAFA;
$background-white: #EFECEC;
$gray-one: #333333;
$gray-two: #4f4f4f;
$gray-three: #828282;
$gray-four: #bdbdbd;
$gray-five: #e0e0e0;
$gray-six: #959595;
$gray-seven: #ededed;
$color-error: #eb5757;
$color-success: #27ae60;
$color-warning: #e2b93b;
$color-info: #2f80ed;
$btn-filled-hover:#1e894b;
$btn-outline-hover: #8fe6b4;
$btn-outline-hover-text: #1e894b;

//SASS VARIABLE
$background-color-dark: #000000;
$font-display: 'josefin sans',Sans-serif;
$font-primary: "Poppins", sans-serif;
$font-size: 1.4rem;
$color-secondary-dark: #1d0202;

//break-points variable
$bp-largest: 75em; // 1200/16
$bp-larger: 65em; //1040/16
$bp-large: 62.5em; //1000
$bp-medium-1: 53.125em; //850
$bp-medium-2: 51.75em; //820
$tablet: 48.125em; //770
$mobile: 46.875; //750